
set_io uart_rx   12
set_io uart_tx   21

## pins possible: 35 X12/Y31
set_io iclk 35

set_io led_r 39
set_io led_g 40
set_io led_b 41

set_io vga_h 28
set_io vga_v 38
set_io vga_r 42
set_io vga_g 36
set_io vga_b 43
set_io vga_i 34

set_io spi0_mosi 14
set_io spi0_miso 17
set_io spi0_sclk 15
set_io spi0_cs0 16

